{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charts/Graphs</title>
    <link rel="icon" type="image/png" href="https://cdn.iconscout.com/icon/premium/png-512-thumb/irrigation-3-570346.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home/results.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <style>
        body{
            font-family:'Roboto';
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            {% comment %} background-color: #f8f9fa; /* Optional: To match the navbar color */ {% endcomment %}
        }
        .carousel-container {
            width: 100%;
            max-width: 900px; /* Adjust this to control the width of the carousel */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .carousel-inner {
            width: 100%;
        }
        .carousel-control-custom {
            margin-top: 20px;
        }
        .btn{
            outline: none;
            background-color: #004d7f !important;
            border: none;
            margin: 5px;
            border-radius:1px;
        }
        .box{
            width:800px;
            height:500px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="{% url 'index' %}">IrrigatePro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'historic_data' %}">historic datas</a>
            </li>
          </ul>
        </div>
    </nav>

    <div class="carousel-container">
        <div id="chartCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h4 class="caption">Variation of ET0 Over Time Using the Penman-Monteith Method</h4>
                    <div class="box">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
                <div class="carousel-item">
                    <h4 class="caption">Variation of ET0 Over Time Using the BLANEY-CRIDDLE Method</h4>
                    <div class="box">
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
                <div class="carousel-item">
                    <h4 class="caption">Variation of Soil Moisture Values Over Time</h4>
                    <div class="box">
                        <canvas id="myChart3"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-control-custom">
            <button id="prevBtn" class="btn btn-primary"><i class="fas fa-chevron-left"></i></button>
            <button id="nextBtn" class="btn btn-primary"><i class="fas fa-chevron-right"></i></button>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            function createChart(ctx, type, data, options) {
                return new Chart(ctx, {
                    type: type,
                    data: data,
                    options: options
                });
            }

            var chartData1 = {
                labels: {{ labels|safe }},
                datasets: [{
                    label: 'ET0 VARIATION DURING TIME STAGE WITH PENMAN-MONTEITH METHOD',
                    data: {{ data|safe }},
                    backgroundColor: '#004d7f',
                    borderColor: '#004d7f',
                    borderWidth: 1,
                }]
            };

            var chartData2 = {
                labels: {{ labels2|safe }},
                datasets: [{
                    label: 'ET0 VARIATION DURING TIME STAGE WITH BLANEY-CRIDDLE METHOD',
                    data: {{ data2|safe }},
                    fill: false,
                    backgroundColor: '#004d7f',
                    borderColor: '#004d7f',
                    borderWidth: 1,
                }]
            };

            var chartData3 = {
                labels: JSON.parse('{{ timestamps|escapejs }}'),
                datasets: [{
                    label: 'SOIL MOISTURE PERCENTAGE VARIATION WITH TIME',
                    data: JSON.parse('{{ moisture_values|escapejs }}'),
                    backgroundColor: '#004d7f',
                    borderColor: '#004d7f',
                    borderWidth: 1,
                }]
            };

            var chartOptions = {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            };

            var chartOptionsTime = {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'minute'
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            };

            createChart(document.getElementById('myChart').getContext('2d'), 'line', chartData1, chartOptions);
            createChart(document.getElementById('myChart2').getContext('2d'), 'line', chartData2, chartOptions);
            createChart(document.getElementById('myChart3').getContext('2d'), 'line', chartData3, chartOptions);
           
        });

        $(document).ready(function() {
            $('#prevBtn').click(function() {
                $('#chartCarousel').carousel('prev');
            });
  
            $('#nextBtn').click(function() {
                $('#chartCarousel').carousel('next');
            });
        });
    </script>
</body>
</html>
