{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Historic Datas</title>
  <link rel="icon" type="image/png" href="https://cdn.iconscout.com/icon/premium/png-512-thumb/irrigation-3-570346.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'home/results.css' %}">
  <style>
    .table-wrapper {
      margin-bottom: 20px;
    }

    .tablecont {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
    }

    .table-container {
        flex: 1;
        margin: 10px;
        overflow-x: auto;
    }

    @media (max-width: 768px) {
        .tablecont{
            flex-direction: column;
        }

        .table-container {
            margin: 10px 0;
        }
    }
  </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="{% url 'index' %}">IrrigatePro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'graphs' %}">Graphs</a>
            </li>
          </ul>
        </div>
      </nav>

      {% comment %} <div  style="display: flex;flex-direction: column; justify-content: center; align-items: center; height: 100vh; margin-top:20px">
        <div class="container">
          <h4 class="caption">Daily weather forecasting</h4>
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Time</th> 
                  <th>Temperature (&#x2103;)</th> 
                  <th>Humidity</th>
                  <th>Wind Speed</th>
                  <th>Precipitation probability</th>
                  <th>Rain intensity</th>
                  <th>Uvindex</th>
                  <th>Sunrise</th>
                  <th>Sunset</th>
                </tr>
              </thead>
              <tbody id="tableBody">
                <!-- Example data -->
                {% for forecast in weather_forecast %}
                <tr>
                  <td> {{forecast.time}}</td>
                  <td>{{forecast.temperature}}</td>
                  <td> {{forecast.humidity}}</td>
                  <td>{{forecast.wind_speed}}</td>
                  <td>{{forecast.prep_prob}}</td>
                  <td>{{forecast.rain_intensity}}</td>
                  <td>{{forecast.uvIndex}}</td>
                  <td>{{forecast.sunrise}}</td>
                  <td>{{forecast.sunset}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div> {% endcomment %}
          <div class="container">
            <h4 class="caption">irrigation parameters</h4>
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Crop evapotranspiration (ETc) in mm/day</th> 
                      <th>Reference evapotranspiration (ET0) in mm/day</th>
                      <th>Net irrigation requirements (IRn) in mm/day</th>
                      <th>Total water requirements (IR) in mm/day</th>
                      <th>Total water dosage (Dw) in mm</th>
                      <th>Irrigation Duration (ID) in seconds</th>
                      <th>Watering Frequency</th>
                      <th>date</th>
                    </tr>
                  </thead>
                  <tbody id="tableBody">
                      {% for data in result_data %}
                      <tr>\
                        <td>{{data.SoilMoistureValue}}</td>
                        <td> {{data.ET0}}</td>
                        <td>{{data.ETc}}</td>
                        <td> {{data.IRn}}</td>
                        <td>{{data.IR}}</td>
                        <td> {{data.Dw}}</td>
                        <td>{{data.IDG}}</td>
                        <td> {{data.Wf}} times a day</td>
                        <td>{{data.Date}}</td>
                      </tr>
                      {% endfor %}
                      <!-- Add more rows as needed -->
                  </tbody>
              </table>
          </div> 
          
          </div>
          
            {% comment %} <div class="table-responsive sensorData">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Soil moisture</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody id="tableBody">
                  <!-- Example data -->
                 {% for data in soil_moisture_data %}
                  <tr>
                    <td> {{data.SoilMoistureValue}}</td>
                    <td>{{data.Date}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div> {% endcomment %}
        </div>
  



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
