{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Historic Datas</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="icon" type="image/png" href="https://cdn.iconscout.com/icon/premium/png-512-thumb/irrigation-3-570346.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'home/results.css' %}">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    body {
      font-family:'Roboto';
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #f0f0f0;
    }
    
    .search-container {
      display: flex;
      align-items: center;
      gap: 10px; /* Gap between search input and button */
    }
    
    .search-input {
      padding: 10px;
      border: 2px solid #004d7f !important;;
      border-radius: 1px;
      outline: none;
      flex-grow: 1;
    }
    
    .search-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background-color: #004d7f !important;;
      border: none;
      border-radius: 1px;
      cursor: pointer;
      color: white; /* Set icon color to white for better visibility */
    }
    
    .search-button i {
      font-size: 16px; /* Adjust the size of the icon as needed */
    }
    
    .table-wrapper {
      margin-bottom: 20px;
    }

    .tablecont {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
    }

    .table-container {
        flex: 1;
        margin: 10px;
        overflow-x: auto;
    }
    .searchbox{
      margin-top:70px;
      margin-bottom: 50px;
    }
    .submit{
      background-color: #004d7f !important;
      text-transform: uppercase;
    }
    #btn{
      margin: 5px;
    }

    @media (max-width: 768px) {
        .tablecont{
            flex-direction: column;
        }

        .table-container {
            margin: 10px 0;
        }
    }
  </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="{% url 'index' %}">IrrigatePro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'graphs' %}">Graphs</a>
            </li>
          </ul>
        </div>
      </nav>
      <div>
        <h4 class="caption">Get Weather Updates: Type Your City and Click Search</h4>
        <form action="{% url 'weather_data' %}" method="POST">
          {% csrf_token %}
          <div class="search-container">
            <input type="text" class="search-input" placeholder="City name..." id="city" name="city" required>
            <button class="search-button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>

      <div class="carousel-container">
        <div id="tableCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>Crop Type</th>
                            <th>Soil moisture values (%)</th>
                            <th>Reference evapotranspiration (ET0) in mm/day</th> 
                            <th>Crop evapotranspiration (ETc) in mm/day</th>
                            <th>Net irrigation requirements (IRn) in mm/day</th>
                            <th>Total water requirements (IR) in mm/day</th>
                            <th>Total water dosage (Dw) in mm</th>
                            <th>Irrigation Duration (ID) in seconds</th>
                            <th>Watering Frequency</th>
                            <th>date</th>
                          </tr>
                        </thead>
                        <tbody id="tableBody">
                            {% for data in result_data1 %}
                            <tr>
                              <td>{{data.CropType}}</td>
                              <td>{{data.SoilMoistureValue}}</td>
                              <td> {{data.ET0}}</td>
                              <td>{{data.ETc}}</td>
                              <td> {{data.IRn}}</td>
                              <td>{{data.IR}}</td>
                              <td> {{data.Dw}}</td>
                              <td>{{data.IDG}}</td>
                              <td> {{data.Wf}} times a day</td>
                              <td>{{data.Date}}</td>
                            </tr>
                            {% endfor %}
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>
                  </div> 
                </div>
                <div class="carousel-item">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>Crop Type</th>
                            <th>Soil moisture values (%)</th>
                            <th>Reference evapotranspiration (ET0) in mm/day</th> 
                            <th>Crop evapotranspiration (ETc) in mm/day</th>
                            <th>Net irrigation requirements (IRn) in mm/day</th>
                            <th>Total water requirements (IR) in mm/day</th>
                            <th>Total water dosage (Dw) in mm</th>
                            <th>Irrigation Duration (ID) in seconds</th>
                            <th>Watering Frequency</th>
                            <th>date</th>
                          </tr>
                        </thead>
                        <tbody id="tableBody">
                            {% for data in result_data2 %}
                            <tr>
                              <td>{{data.CropType}}</td>
                              <td>{{data.SoilMoistureValue}}</td>
                              <td> {{data.ET0}}</td>
                              <td>{{data.ETc}}</td>
                              <td> {{data.IRn}}</td>
                              <td>{{data.IR}}</td>
                              <td> {{data.Dw}}</td>
                              <td>{{data.IDG}}</td>
                              <td> {{data.Wf}} times a day</td>
                              <td>{{data.Date}}</td>
                            </tr>
                            {% endfor %}
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>
                  </div> 
                </div>
            </div>
        </div>
        <div class="carousel-control-custom">
            <button id="prevBtn" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i></button>
            <button id="nextBtn" class="btn btn-primary"><i class="fas fa-chevron-right"></i></button>
        </div>
    </div>

    <script>
      $(document).ready(function() {
          $('#prevBtn').click(function() {
              $('#tableCarousel').carousel('prev');
          });

          $('#nextBtn').click(function() {
              $('#tableCarousel').carousel('next');
          });
      });
  </script>

      

      {% comment %} <div  style="display: flex; justify-content: center; align-items: center; height: 100vh; padding:32px; margin:60px; flex-direction: column;">
        <div class="container searchbox">
          <h4 class="caption">Get Weather Updates: Type Your City and Click Search</h4>
          <div class="search-container">
            <input type="text" class="search-input" placeholder="Search...">
            <button class="search-button">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <form action="{% url 'weather_data' %}" method="POST" >
            {% csrf_token %}
            <div id="btn" class="input-group mb-3">
              <input type="text" class="form-control" placeholder="City name..." aria-label="Search" id="city" name="city" required>
              <button class="btn btn-primary submit" type="submit">Search</button>
            </div>
          </form>
        </div>
        <div class="container">
          <h4 class="caption">irrigation parameters</h4>
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Crop Type</th>
                    <th>Soil moisture values (%)</th>
                    <th>Reference evapotranspiration (ET0) in mm/day</th> 
                    <th>Crop evapotranspiration (ETc) in mm/day</th>
                    <th>Net irrigation requirements (IRn) in mm/day</th>
                    <th>Total water requirements (IR) in mm/day</th>
                    <th>Total water dosage (Dw) in mm</th>
                    <th>Irrigation Duration (ID) in seconds</th>
                    <th>Watering Frequency</th>
                    <th>date</th>
                  </tr>
                </thead>
                <tbody id="tableBody">
                    {% for data in result_data1 %}
                    <tr>
                      <td>{{data.CropType}}</td>
                      <td>{{data.SoilMoistureValue}}</td>
                      <td> {{data.ET0}}</td>
                      <td>{{data.ETc}}</td>
                      <td> {{data.IRn}}</td>
                      <td>{{data.IR}}</td>
                      <td> {{data.Dw}}</td>
                      <td>{{data.IDG}}</td>
                      <td> {{data.Wf}} times a day</td>
                      <td>{{data.Date}}</td>
                    </tr>
                    {% endfor %}
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
          </div> 
        
        </div>
        <div class="container">
          <h4 class="caption">irrigation parameters</h4>
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Crop Type</th>
                    <th>Soil moisture values (%)</th>
                    <th>Reference evapotranspiration (ET0) in mm/day</th> 
                    <th>Crop evapotranspiration (ETc) in mm/day</th>
                    <th>Net irrigation requirements (IRn) in mm/day</th>
                    <th>Total water requirements (IR) in mm/day</th>
                    <th>Total water dosage (Dw) in mm</th>
                    <th>Irrigation Duration (ID) in seconds</th>
                    <th>Watering Frequency</th>
                    <th>date</th>
                  </tr>
                </thead>
                <tbody id="tableBody">
                    {% for data in result_data2 %}
                    <tr>
                      <td>{{data.CropType}}</td>
                      <td>{{data.SoilMoistureValue}}</td>
                      <td> {{data.ET0}}</td>
                      <td>{{data.ETc}}</td>
                      <td> {{data.IRn}}</td>
                      <td>{{data.IR}}</td>
                      <td> {{data.Dw}}</td>
                      <td>{{data.IDG}}</td>
                      <td> {{data.Wf}} times a day</td>
                      <td>{{data.Date}}</td>
                    </tr>
                    {% endfor %}
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
          </div> 
        
        </div>
      </div>
          
      </div> {% endcomment %}
  
</body>
</html>
